

.vertical-carousel {
  display: flex;
  flex-direction: column;
  overflow-y: hidden; 
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
  position: relative;
}


.left-panel, .right-panel {
  flex: 1;
  padding: 20px;
  background-color: var(--left-panel-bg);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  font-size: 18px;
  color: var(--right-panel-bg);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 100%; 
}
.left-panel h2{
  padding-left:20px ;
}

.right-panel {
  background-color:var(--right-panel-bg);
  color: var(--left-panel-bg);
 
}


.pagination {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);

}

.pagination span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--left-panel-bg);
  border: 2px solid var(--right-panel-bg);
  cursor: pointer;
}

.pagination span.active {
  background-color: var(--right-panel-bg);
}


.option-icon {
  font-size: 40px;
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.option-icon:hover {
  font-size: 60px;
}

.summary-content-container {
  transition: transform 0.5s ease-in-out;
}

.summary-content-container ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.summary-content-container ul li{
    margin: 12px 5px;
}
.summary-content-container ul li span{
  color: #999999;
  }
  .summary-content-container ul li.reveal {
    opacity: 1;
  }
  .success-box{
    background-color: var(--success-bg);
    box-shadow: var(--box-shadow);
    padding: 10px 5px;
    margin-top: 16px;
  }
  .success-message{
    font-size: 20px;
    font-weight: 600;
    color:var(--success);
  }
  .vertical-slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }
  
  .options-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }

  .option {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media only screen and (max-width: 480px) {}
  @media only screen and (max-width: 768px) {}
  